---
# site specific css
---
#logo {
  height: 155px;
  padding-top: 40px;
  background: {
    image: url('/images/header-mtns.gif');
    repeat: no-repeat;
    position: left top;
    color: #00AEF0;
  }
  @media screen and (max-width: 767px) {
    height: 95px;
    padding-top: 30px;
    background-position: left -60px;
  }
  a {
    color: white !important;
    text-decoration: none;
  }
  h1, h2 {
    margin: 0;
  }
}

#navbar {
  font-family: 'Montserrat', sans-serif;
}

/*and lines up the column widths between all tables on same page*/
.documents-tables {
  th:nth-child(2),
  td:nth-child(2) {
    width: 25%;
    text-align: center;
  }
}

/*from http://getbootstrap.com/getting-started/#third-parties*/
.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.site-pages {
  &>li { margin-bottom: 1em; }
  dl { margin-bottom: 0;}
  dt { font-weight: normal; }
}
