---
layout: default
title: Site Info
description: Information for site development and SEO
sitemap: false

branch: master
extras:
  - layout
  - permalink
---

<button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target=".dev-links"><span class="glyphicon glyphicon-list"></span> Dev Links</button>

<h2>Pages</h2>

<ol class="site-pages">
  {% assign pages = site.pages | sort: "url" %}
  {% for p in pages %}
  {% if p.layout %}
    <li>
      <a href="{{ p.url | absolute_url }}">{{ p.url | absolute_url }}</a>
      <dl class="dl-horizontal">
        {% if site.github.repository_url %}
          <dt>Edit</dt>
          <dd><a href="{{ site.github.repository_url }}/blob/{{ page.branch }}/{{ p.path }}">View on GitHub</a></dd>
        {% endif %}
        <dt><code>title:</code></dt>
        <dd><b>{{ p.title | default: site.title }}</b></dd>
        <dt><code>description:</code></dt>
        <dd>{{ p.description | default: site.description }}</dd>
        {% for e in page.extras %}
          {% if p[e] %}
            <dt><code>{{ e }}:</code></dt>
            <dd>{{ p[e] }}</dd>
          {% endif %}
        {% endfor %}
        {% assign link = p.url | absolute_url %}
        <dt class="collapse dev-links">Social</dt>
        <dd class="collapse dev-links">
          <ul class="list-unstyled">
            <li><a href="https://developers.facebook.com/tools/debug/og/object?q={{ link }}">Open Graph Object Debugger</a></li>
            <li><a href="https://developers.google.com/structured-data/testing-tool?url={{ link }}">Structured Data Testing Tool</a></li>
          </ul>
        </dd>
        <dt class="collapse dev-links">Validation</dt>
        <dd class="collapse dev-links">
          <ul class="list-unstyled">
            <li><a href="https://developers.google.com/speed/pagespeed/insights/?url={{ link }}">Google PageSpeed</a></li>
            <li><a href="https://validator.w3.org/nu/?doc={{ link }}">W3C HTML Checker</a></li>
            <li><a href="https://jigsaw.w3.org/css-validator/validator?uri={{ link }}">W3C CSS Validation Service</a></li>
            <li><a href="https://validator.w3.org/mobile-alpha/?url={{ link }}">W3C Mobile Checker</a></li>
            <li><a href="https://validator.w3.org/unicorn/check?tests=http&ucn_task=custom&ucn_uri={{ link }}">W3C HTTP Checker</a></li>
            <li><a href="https://validator.w3.org/checklink?hide_type=all&depth=&check=Check&uri={{ link }}">W3C Link Checker</a></li>
          </ul>
    </li>
  {% endif %}
  {% endfor %}
</ol>

<h2>Pages by Layout</h2>

{% assign pages_by_layout = site.pages | group_by: "layout" | sort: "name" %}
{% for layout in pages_by_layout %}
  {% if layout.name != empty %}
    <h3>{{ layout.name }}</h3>
    {% assign pages = layout.items | sort: "url" %}
    <ol>
      {% for p in pages %}
        <li><a href="{{ p.url | absolute_url }}">{{ p.url | absolute_url }}</a> - {{ p.title | default: site.title }}</li>
      {% endfor %}
    </ol>
  {% endif %}
{% endfor %}

<h2>Build Variables</h2>

<pre>
site.time: {{ site.time }} {{ site.time | date: "%Z" }}
jekyll.version: {{ jekyll.version }}
jekyll.environment: {{ jekyll.environment }}
site.url: {{ site.url }}
site.baseurl: {{ site.baseurl }}
site.github.pages_env: {{ site.github.pages_env }}
site.github.url: {{ site.github.url }}
site.github.repository_url: {{ site.github.repository_url }}
site.github.releases: {{ site.github.releases }}
site.github.versions:
{% if site.github.versions %}{% assign versions = site.github.versions | sort %}{% for item in versions %}  - {{ item[0] }}: {{ item[1] }}<br>{% endfor %}{% endif %}
</pre>
