---
layout: base
title: Member Listing
description: Member Listing
permalink: /members/
---

<p>
    Below is a list of all current participating members.
</p>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Institution</th>
        <th>Member Since</th>
    </tr>
    {% assign members_by_institution = site.data.members | group_by: "institution" | sort: "name" %}
    {% for institution in members_by_institution %}
      {% assign members = institution.items | sort: "name" %}
      {% for member in members %}
          <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.phone }}</td>
                <td>{{ member.institution }}</td>
                <td>{{ member.membersince }}</td>
          </tr>
      {% endfor %}
    {% endfor %}
</table>
