<div class="container">
  <hr>
  <footer>
    <p>
      The Montana Association of Student Financial Aid Administrators (MASFAA) is an organization serving the needs of students, institutions of higher education, government agencies, and private funding sources through the coordination of plans and programs for student financial aid.
    </p>
    <p>
      For more information contact <a href="mailto:TWagner@carroll.edu">Tina Wagner</a>.
    </p>
    <p>
      &copy; Montana Association of Student Financial Aid Administrators
    </p>
  </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/{{ site.bootstrap-sass }}/assets/javascripts/bootstrap.min.js"></script>
